<style>
    .compass {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        position: relative;
    }

    .compass .direction {
        height: 100%;
        width: 100%;
        display: block;
        background: #f2f6f5;
        border-radius: 100%;
    }

    .compass .direction p {
        text-align: center;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: 80px;
        display: block;
        margin-top: -40px;
    }

    .compass .arrow {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
    }

    .compass .arrow:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid cornflowerblue;
        position: absolute;
        top: -6px;
        left: 50%;
        margin-left: -5px;
        z-index: 99;
    }

    .cone {
        position: relative;
        display: block;
        width: 0;
        height: 0;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-top: 80px solid #f2f6f5;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .cone .arrow:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid cornflowerblue;
        position: absolute;
        top: -86px;
        left: 50%;
        margin-left: -5px;
        z-index: 99;
    }

    .cone .content {
        background-color: transparent !important;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        left: -30px;
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
        margin-top: -60px;
    }

</style>
<div style="display: flex; justify-content: center;">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <h3 class="noTopMargin">Wind</h3>
        <div class="compass marginTop0_5">
            <div class="direction primaryColor">
                <p class="fontSize2">{{component._state.windSpeed | number:2}}<span class="fontSize0_8 marginLeft0_2">m/s</span>
                </p>
            </div>
            <div class="arrow" style="transform: rotate({{component._state.windDirection | number:2}}deg)"></div>
        </div>
    </div>
    <div style="margin-left: 1em; display: flex; flex-direction: column; align-items: center;">
        <h3 class="noTopMargin">Rotor</h3>
        <div class="cone marginTop0_5">
            <div class="content primaryColor fontSize2">
                {{component._state.rotorSpeed | number:2}}<span class="fontSize0_8 marginLeft0_2">m/s</span>
            </div>
            <div class="arrow" style="transform: rotate({{component._state.rotorBladeAngle | number:2}}deg)"></div>
        </div>
    </div>
    <div style="margin-left: 1em; display: flex; flex-direction: column; align-items: center;">
        <h3 class="noTopMargin">Nacelle</h3>
        <div class="compass marginTop0_5">
            <div class="direction">
            </div>
            <div class="arrow" style="transform: rotate({{component._state.nacelleDirection | number:2}}deg)"></div>
        </div>
    </div>
</div>
<div class="flexLayout flexAlignCenter">
    <div class="flexLayout flexJustifyStart flexGrow1">
        <div ng-if="!component._state.running" class="circleButton"
             ng-click="panel.callDeviceService(component, 'activate')">
            <i class="icon sl-sync-1 fontSize1_5"></i>
        </div>
        <div ng-if="component._state.running" class="circleButton"
             ng-click="panel.callDeviceService(component, 'shutdown')">
            <i class="icon sl-power-4 fontSize1_5"></i>
        </div>
    </div>
    <div class="flexLayout flexJustifyCenter flexAlignBaseline flexGrow1 primaryColor">
        <div class="fontSize4"><span
                ng-if="component._state.power">{{component._state.power | number:1}}</span><span
                ng-if="!component._state.power" class="fontWeightNormal">--</span></div>
        <div
                class="fontSize0_8">kW
        </div>
    </div>
    <div class="flexLayout flexJustifyEnd flexGrow1">
        <span>&nbsp;</span>
    </div>
</div>
<div class="flexLayout flexAlignCenter" style="min-height: 2em;">
    <div class="flexLayout flexJustifyStart flexGrow1">
        <i ng-if="component._state.aircraftWarningMarker"
           class="icon alertColor sl-hotspot-2 fadePulse fontSize1_5"></i>
    </div>
    <div class="flexLayout flexJustifyCenter flexAlignBaseline flexGrow1 primaryColor">
        <div class="fontSize0_8">(<span
                ng-if="component._state.idlePower">{{component._state.idlePower | number:1}}</span><span
                ng-if="!component._state.idlePower" class="fontWeightNormal">--</span> kW)
        </div>
    </div>
    <div class="flexLayout flexJustifyEnd flexGrow1">
        <i ng-if="component._state.rotorDeIcing"
           class="icon sl-thermometer-low alertColor fadePulse fontSize1_5"></i>
    </div>
</div>
